a {
    text-decoration: none;
}

.hiden {
    display: none;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    background-color: #e0e0e0;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
}

.navbar li {
    list-style: none;
    width: max-content;
}

.navbar a {
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
}


.drop-down {
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: flex;
    position: absolute;
    background-color: antiquewhite;
    border: solid 2px;
    padding: 8px 12px;
}